// Grid system
main {
  margin-top: 4.84rem;
  @include make-container();
  @include media-breakpoint-up(sm) {
    @include make-col($main-sm-columns);
    .sidebar-primary & {
      @include make-col($main-sm-columns - $sidebar-sm-columns);
    }
  }
}


@each $name, $breakpoint in $grid-breakpoints {
	@media (min-width: $breakpoint) {
		.card-deck .card {
			flex: 0 0 calc(#{100/map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
		}
	}
}

offers {
  @include make-row($gutter-0);
  //@extend .px-3;
  background-color: $light-color;
  text-align: center;
  & h3 {
    font-size: 2rem;
  }
  & h5 {
    font-size: 1rem;
    color: $light-color-heading;
    text-transform: uppercase;
  }
  & p {
    font-size: 1.2rem;
    color: $light-color-text-dark;
    padding: 1rem 6rem;
  }
  & .sale_price {
    font-size: 3rem;
    color: $primary;
    font-family: 'ProximaNova-Extrabld';
    padding: 1rem;
  }
  & .regular_price {
    font-size: 1.8rem;
    //color: $primary;
    font-family: 'ProximaNova-Regular';
    text-decoration: line-through;
    padding: 1rem;
  }
  & label {
    clear: both;
    display: block;
    font-family: 'PF Encore Sans Regular';
    font-size: .65rem;
    color: $primary;
  }
  & #countdown span {
    font-family: 'ProximaNova-Regular';
    font-size: 2rem;
    text-align: center;
    //width: 15%;
    dispaly: block;
    float: left;
    padding: 1rem;
    //border-right: 1px solid #FFF;
  }

}


.archive {
  .catalog .row {
    & ul {
      @extend .list-unstyled;
      @extend .row;
      margin-bottom: 0rem;
      & li {
      //  @include make-col(6);
        &.product {
          & .col {
            padding: .4rem 4.5rem 2rem 4.5rem;
          }
          & .card-title {
            padding: 0 0 0 3.5rem;
            font-family: 'ProximaNova-Regular';
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

.home {
  & .catalog {
    & ul.brands {
      @extend .mx-auto;
      @extend .justify-content-start;
      & li {
        @include make-col(2);
        @extend .p-5;
        align-items: center;
        justify-content: center;
        border-right: 1px solid $border-light-color;
        border-bottom: 1px solid $border-light-color;
        & img {
        @extend .m-auto;
        @extend .d-block;
        width: 130px;
        height: auto;
        filter: grayscale(100%);
        opacity: .75;
        &:hover {
          filter: none;
          opacity: 1;
        }
        }
      }
    }
    & ul {
      @extend .list-unstyled;
      @include make-row($gutter-0);
      margin-bottom: 0rem;
      & li {
        @include make-col(3);
        &.product {
          & .col {
            padding: .4rem 4.5rem 2rem 4.5rem;
          }
          & .card-title {
            padding: 0 0 0 3.5rem;
            font-family: 'ProximaNovaA-Bold';
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

.description {
  @extend .col-12;
  color: $light-color-text-dark;
  font-size: .87rem
}

.single_variation_wrap {
  @include make-row($gutter: $grid-gutter-width);
  @include make-col-ready();
  & .woocommerce-variation {
    @include make-col(6);
  }
  & .woocommerce-variation-add-to-cart {
    @include make-col(6);
  }
}

.variation_price_availability {
  @extend .d-flex;
  @extend .flex-row;
  @extend .align-items-center;
}


.product-info {
  @include make-col(6);
}

.product-image {
  @include make-col(6);
  padding: 0 0 0 2rem;
  & .woocommerce-product-gallery {
//    @include make-row($gutter: $grid-gutter-width);
//    @include make-col-ready();
    & .flex-viewport {
      //@include make-col(9);
    }
  }
}

.page-template-template-contact {
  & .contact-info {
    @include make-col(6);
    @extend .text-center;
    padding: $gutter;
    & h2 {
        margin-bottom: 2rem;
    }
    & ul {
      @extend .row;
      @extend .justify-content-center;
      @extend .list-unstyled;
      & li {
        @include make-col(4);
        &:nth-child(-n+2) {
          border-bottom: 1px solid $border-light-color;
        }
        &:nth-child(2n+1) {  /* or 4n+1 */
            border-right: 1px solid $border-light-color;
        }
        & h3 {
          font-family: 'PF Encore Sans Pro Book';
          font-size: .75rem;
          text-transform: uppercase;
          letter-spacing: .05rem;
        }
        & img {
          max-width: 32px;
          height: auto;
          margin: 0rem 0 2rem 0;
        }
        & p {
          font-family: 'PF Encore Sans Light';
          font-size: .75rem;
          letter-spacing: .05rem;
        }
      }
    }
  }
  & .contact-form {
    & ul {
    margin-bottom: 0;
    }
    @include make-col(6);
    @extend .flex-row;
    border-left: 1px solid $border-light-color;
    & .gform_wrapper {
      @extend .w-75;
      @extend .mx-auto;
    }
    & button {
      @extend .w-100;
      border-top-left-radius: 0rem;
      border-top-right-radius: 0rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      padding: 1.5rem;
    }
  }
}

.woocommerce-billing-fields {
    @include make-row($grid-gutter-width_large);
  & .woocommerce-billing-fields__field-wrapper {
    @include make-col(8);
    padding: 0 4rem;
  }
}
