.facetwp-facet {
    margin-bottom: 0px;
  //  width: 100%;
    &.facetwp-facet-product_pager {
      @include make-row();
    //  @include make-col-ready();
      @extend .px-3;
      @extend .justify-content-end;
      & nav {
        @include make-col(9);
        & ul {
          margin-bottom: 0;
        }
      }
    }
    &.facetwp-facet-load_more {
      border-top: 1px solid $border-light-color;
      border-bottom: 1px solid $border-light-color;
      @include make-row($gutter: $grid-gutter-width);
    }
    & .btn-custom-outline {
      font-size: .8rem;
      text-transform: uppercase;
      & i.btn-label {
        padding: .5rem;
        background: no-repeat 50%/100% 100%;
          background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' width='20' height='20' viewBox='0 0 40 40'>		<path fill='#FF5A00' d='M16.261,17.743h3.252c0.243,0,0.442,0.199,0.442,0.442s-0.199,0.442-0.442,0.442h-4.425
          		c-0.243,0-0.442-0.199-0.442-0.442v-4.425c0-0.243,0.199-0.442,0.442-0.442c0.243,0,0.442,0.199,0.442,0.442v3.429
          		c2.234-1.726,3.54-4.358,3.54-7.19C19.07,5,15,0.93,10,0.93S0.93,5,0.93,10S5,19.07,10,19.07c0.243,0,0.442,0.199,0.442,0.442
          		S10.243,19.955,10,19.955c-5.487,0-9.955-4.469-9.955-9.955c0-5.487,4.469-9.955,9.955-9.955c5.487,0,9.955,4.469,9.955,9.955
          		C19.955,13.009,18.584,15.863,16.261,17.743z'/></svg>") ;
      }
    }
}

.facetwp-facet.is-loading {
    opacity: 0.6;
}

.facetwp-overlay {
    position: absolute;
}

.facetwp-pager-label {
    display: inline-block;
    margin-right: 12px;
}

.facetwp-page {
  //  display: inline-block;
  //  padding: 0px 4px;
  //  margin-right: 6px;
    cursor: pointer;
    font-family: 'PF Encore Sans Regular';
}

.facetwp-page.dots {
    cursor: default;
}

.facetwp-page.active {
    font-weight: bold;
    cursor: default;
}

/* Checkboxes */
.facetwp-type-checkboxes_custom_icon {
  &   .facetwp-checkbox {
    background-size: 20px 20px;
    //  padding-left: 20px;
      cursor: pointer;
      margin-bottom: 1rem;
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#000' width='15.36' height='18.41' viewBox='0 0 15.36 18.41'><path d='M6.466 17.556l.7.493.514.365.514-.365.7-.493c1.314-.923 2.668-1.876 3.755-2.91 1.616-1.543 2.367-2.997 2.367-4.604V2.684L7.68-.004.344 2.684v7.358c0 1.607.751 3.061 2.365 4.604 1.083 1.033 2.443 1.987 3.757 2.91zm-4.343-7.514V3.927L7.68 1.89l5.557 2.036v6.115c0 1.08-.578 2.134-1.816 3.317-.985.94-2.287 1.847-3.548 2.736l-.193.137-.191-.136c-1.26-.889-2.565-1.801-3.557-2.741-1.231-1.178-1.809-2.232-1.809-3.312z'/><path d='M11.772 6.832l-1.24-1.272-3.986 3.886-1.609-1.88-1.35 1.158 2.844 3.319z'/></svg>");
      background-position: 0% 50%;
      padding: 0 2rem;
      background-repeat: no-repeat;
      &.checked {
        background-position: 0% 50%;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$orange}' width='15.36' height='18.41' viewBox='0 0 15.36 18.41'><path d='M6.466 17.556l.7.493.514.365.514-.365.7-.493c1.314-.923 2.668-1.876 3.755-2.91 1.616-1.543 2.367-2.997 2.367-4.604V2.684L7.68-.004.344 2.684v7.358c0 1.607.751 3.061 2.365 4.604 1.083 1.033 2.443 1.987 3.757 2.91zm-4.343-7.514V3.927L7.68 1.89l5.557 2.036v6.115c0 1.08-.578 2.134-1.816 3.317-.985.94-2.287 1.847-3.548 2.736l-.193.137-.191-.136c-1.26-.889-2.565-1.801-3.557-2.741-1.231-1.178-1.809-2.232-1.809-3.312z'/><path d='M11.772 6.832l-1.24-1.272-3.986 3.886-1.609-1.88-1.35 1.158 2.844 3.319z'/></svg>");

      }
      & .level-1 {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#000' width='57' height='18.41' viewBox='0.18 0 57 18.41'><path fill='#333' d='M.18 8.705h12v2h-12z'/><path fill='#D6D6D6' d='M27.18 8.705h-12v2h12v-2m15 0h-12v2h12v-2m15 0h-12v2h12v-2'/></svg>") ;
        padding: 0 57px 0 0;
      }
      & .level-2 {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#000' width='57' height='18.41' viewBox='0.18 0 57 18.41'><path fill='#333' d='M.18 8.705h12v2h-12zm27 0h-12v2h12v-2'/><path fill='#D6D6D6' d='M42.18 8.705h-12v2h12v-2m15 0h-12v2h12v-2'/></svg>") ;
        padding: 0 57px 0 0;
      }
      & .level-3 {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#000' width='57' height='18.41' viewBox='0.18 0 57 18.41'><path fill='#333' d='M.18 8.705h12v2h-12zm27 0h-12v2h12v-2m15 0h-12v2h12v-2'/><path fill='#D6D6D6' d='M57.18 8.705h-12v2h12v-2'/></svg>") ;
        padding: 0 57px 0 0;
      }
}
}

.facetwp-type-checkboxes .facetwp-depth {
    display: none;
}

.facetwp-type-checkboxes .facetwp-depth.visible {
    display: inherit;
}
.checkbox_type_a {
  @extend .d-flex;
  @extend .flex-column;
  background-size: 20px 20px;
//  padding-left: 20px;
  cursor: pointer;
  margin-bottom: 1rem;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' width='20' height='20' viewBox='0 0 20 20'><path fill='#D9D9D9' d='M19.5 19.5V19H1V1h18v18.5h.5V19v.5h.5V0H0v20h20v-.5z'/></svg>") ;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  &.checked {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' width='20' height='20' viewBox='0 0 20 20'><path fill='#D9D9D9' d='M19.5 19.5V19H1V1h18v18.5h.5V19v.5h.5V0H0v20h20v-.5z'/><path fill='#FF5A00' d='M5.644 9.468l3.38 3.878a.502.502 0 0 0 .747.008l4.524-4.971a.5.5 0 1 0-.739-.673L9.41 12.266 6.397 8.811a.5.5 0 1 0-.753.657z'/></svg>") ;

  }
}

.facetwp-type-checkboxes {
    .facetwp-checkbox {
      @extend .d-flex;
      @extend .flex-row;
      @extend .justify-content-between;
      background-image: none;
      &.checked {
        background-image: none;
        & h3 {
          color: $orange;
        }
      }
    }
}
.facetwp-checkbox {
  //  background: url('../images/checkbox.svg') 100% 50% no-repeat;
    background-size: 20px 20px;
  //  padding-left: 20px;
    cursor: pointer;
    margin-bottom: 1rem;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' width='20' height='20' viewBox='0 0 20 20'><path fill='#D9D9D9' d='M19.5 19.5V19H1V1h18v18.5h.5V19v.5h.5V0H0v20h20v-.5z'/></svg>") ;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    & .level-1 {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' width='15.36' height='18.41' viewBox='0 0 15.36 18.41'><path d='M6.466 17.556l.7.493.514.365.514-.365.7-.493c1.314-.923 2.668-1.876 3.755-2.91 1.616-1.543 2.367-2.997 2.367-4.604V2.684L7.68-.004.344 2.684v7.358c0 1.607.751 3.061 2.365 4.604 1.083 1.033 2.443 1.987 3.757 2.91zm-4.343-7.514V3.927L7.68 1.89l5.557 2.036v6.115c0 1.08-.578 2.134-1.816 3.317-.985.94-2.287 1.847-3.548 2.736l-.193.137-.191-.136c-1.26-.889-2.565-1.801-3.557-2.741-1.231-1.178-1.809-2.232-1.809-3.312z'/><path d='M11.772 6.832l-1.24-1.272-3.986 3.886-1.609-1.88-1.35 1.158 2.844 3.319z'/></svg>") ;

    }
    & h3 {
      line-height: 2.2;
    }
}

.facetwp-checkbox.checked {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' width='20' height='20' viewBox='0 0 20 20'><path fill='#D9D9D9' d='M19.5 19.5V19H1V1h18v18.5h.5V19v.5h.5V0H0v20h20v-.5z'/><path fill='#FF5A00' d='M5.644 9.468l3.38 3.878a.502.502 0 0 0 .747.008l4.524-4.971a.5.5 0 1 0-.739-.673L9.41 12.266 6.397 8.811a.5.5 0 1 0-.753.657z'/></svg>") ;
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.facetwp-checkbox.disabled,
.facetwp-radio.disabled {
    opacity: 0.4;
    cursor: default;
}

.facetwp-checkbox .facetwp-expand {
    float: right;
}

/* Radio */

.facetwp-radio {
  //  background: url('../images/radio.png') 0 50% no-repeat;
  //  background-size: 14px 14px;
  @extend .d-flex;
  @extend .flex-row;
  @extend .justify-content-between;
    margin-bottom: 1rem;
  //  padding-left: 20px;
    cursor: pointer;
    & .facetwp-counter {
        opacity: 0.5;
        font-family: 'ProximaNova-Regular';
        font-size: .82rem;
        letter-spacing: .025rem;
      }
}

.facetwp-radio.checked {

  & h3 {
      color: $orange;
  }
}

/* Date range */

.flatpickr-clear {
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
}

/* fSelect */

.facetwp-type-fselect .fs-wrap,
.facetwp-type-fselect .fs-dropdown {
    width: 220px;
}

.facetwp-type-fselect .fs-wrap.fs-disabled .fs-option {
    opacity: 0.4;
    cursor: default;
}

.facetwp-type-fselect .fs-option .fs-option-label {
    white-space: nowrap;
}

.facetwp-type-fselect .fs-option.d1 .fs-option-label {
    padding-left: 20px;
}

.facetwp-type-fselect .fs-option.d2 .fs-option-label {
    padding-left: 40px;
}

.facetwp-type-fselect .fs-option.d3 .fs-option-label {
    padding-left: 60px;
}

/* Hierarchy */

.facetwp-depth {
    margin-left: 12px;
}

.facetwp-link {
    cursor: pointer;
}

.facetwp-link.checked {
    font-weight: bold;
    cursor: default;
}

.facetwp-toggle {
    cursor: pointer;
}

.facetwp-seo,
.facetwp-hidden {
    display: none;
}

/* Slider */

.facetwp-slider-wrap {
    padding: 0rem 0 1rem 0;
    text-align: center;
}

.facet-price {
    padding: 2rem 0;
}

.facetwp-slider-reset {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background: #fff;
    box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
    padding: 4px 8px;
    cursor: pointer;
}

/* Search */

.facetwp-search-wrap {
    position: relative;
}

.facetwp-search {
//  padding: 1rem 0 0.5rem 3rem;

//      border-color: #0071bc;
//      width: 22.5rem;
//      font-size: 1.5rem;
}

.facetwp-btn {
    top: 0;
    left: 5px;
    line-height: 1;
    position: absolute;
    cursor: pointer;
    opacity: 1;
}

.facetwp-btn:before {
    display: inline-block;
    content: "";
    width: 30px;
    height: 30px;
    background: url(../images/icon-search.svg) no-repeat;
    background-size: 20px 30px;
    top: 8px;
    position: relative;
}

/* Proximity */

.location-wrap {
    display: inline-block;
    position: relative;
}

input.facetwp-location {
    padding-right: 28px;
    min-width: 240px;
}

.location-results {
    position: absolute;
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    overflow: hidden;
    width: 100%;
}

.location-result {
    font-size: 11px;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #888;
}

.location-result:hover {
    background-color: #f8f8f8;
}

.location-result.active {
    background-color: #EBF2FE;
}

.result-main {
    font-size: 13px;
    color: #222;
}

.locate-me {
    top: 50%;
    right: 5px;
    line-height: 1;
    transform: translateY(-50%);
    position: absolute;
    cursor: pointer;
    opacity: 0.5;
}

.locate-me:before {
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    background: url('../images/icon-locate.png') no-repeat;
    background-size: 20px 20px;
}

.locate-me.f-loading:before {
    background: url('../images/loading.png') no-repeat;
    background-size: 20px 20px;
    animation: spin 700ms infinite linear;
}

.locate-me.f-reset:before {
    background: url('../images/icon-close.png') no-repeat;
    background-size: 20px 20px;
}

/* Rating */

.facetwp-stars {
    float: left;
    line-height: 1;
    padding-right: 4px;
    user-select: none;
}

.facetwp-star {
    float: right;
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
}

.facetwp-star:hover,
.facetwp-star:hover ~ .facetwp-star,
.facetwp-star.selected,
.facetwp-star.selected ~ .facetwp-star {
    color: #000;
}

.facetwp-star.selected:hover,
.facetwp-star.selected:hover ~ .facetwp-star {
    color: red;
}

/* CSS animations */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Selections shortcode */

.facetwp-selections li {
    display: inline-block;
    line-height: 1;
}

.facetwp-selection-value {
  margin: 0;
}

.close {
    position:relative;
}

.close:before {
    padding-left: 5px;
    content: url('../images/close.svg');
}


.facetwp-slider-label-hidden {
  display: none;
}
