.test {
  border: 1px solid red;
}
.grey {
  background-color: $grey;
}


.shadow-lg-orange { box-shadow: $box-shadow-lg-orange !important; }

.ico {
  display: inline-block;
  &.add {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' width='18' height='18' viewBox='0 0 18 18'><path d='M13.478 17.956a1.921 1.921 0 0 1-1.919-1.919c0-1.058.861-1.919 1.919-1.919s1.919.861 1.919 1.919a1.921 1.921 0 0 1-1.919 1.919zm0-2.559a.642.642 0 0 0-.64.64c0 .352.288.64.64.64.352 0 .64-.288.64-.64a.642.642 0 0 0-.64-.64zm-6.397 2.559a1.921 1.921 0 0 1-1.919-1.919c0-1.058.861-1.919 1.919-1.919S9 14.979 9 16.037a1.921 1.921 0 0 1-1.919 1.919zm0-2.559a.641.641 0 0 0 0 1.28.641.641 0 0 0 0-1.28zm0-5.118a.641.641 0 0 1-.573-.353l-4.3-8.603H.684a.64.64 0 0 1 0-1.28h1.919c.242 0 .463.137.572.353l4.478 8.956a.639.639 0 0 1-.572.927z'/><path d='M14.757 12.838H7.081c-1.058 0-1.919-.861-1.919-1.919S6.023 9 7.081 9h6.035l3.651-6.086a.641.641 0 0 1 1.098.659L14.027 9.97a.64.64 0 0 1-.549.31H7.081a.641.641 0 0 0 0 1.28h7.676a.64.64 0 0 1 0 1.278zm-1.279-8.956H8.36a.64.64 0 0 1 0-1.28h5.118a.64.64 0 0 1 0 1.28z'/><path d='M10.919 6.441a.64.64 0 0 1-.64-.64V.684a.64.64 0 0 1 1.28 0v5.118a.64.64 0 0 1-.64.639z'/></svg>") ;
    position: absolute;
    background-repeat: no-repeat;
  }
}

ins {
  text-decoration: none;
}

.pt-9 {
  padding-top: 9rem!important;
}

video {
  pointer-events: none;
}

.w-40 {
    width: 40%!important;
}

.row-cols-md-4 {
  & .col {
    padding: 0;
    & .card {
        margin: 1rem 0;
      & .logo {
        height: 65px;
        width: 59px;
        background: no-repeat 50%/100% 100%;
          background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' width='61' height='61' viewBox='0 0 61 61'>		<polygon fill='#FF5A00' points='26.373,27.826 26.373,28.326 35.195,28.326 30.377,18.841 25.558,28.326 26.373,28.326
          		26.373,27.826 26.818,28.053 30.377,21.049 33.565,27.326 26.373,27.326 26.373,27.826 26.818,28.053 	'/>
          	<path fill='#FF5A00' d='M22.636,16.908v0.5c0.716-0.001,1.295-0.58,1.296-1.296c-0.001-0.716-0.58-1.295-1.296-1.296
          		c-0.716,0.001-1.297,0.579-1.298,1.296c0.001,0.717,0.582,1.295,1.298,1.296V16.908v-0.5c-0.164,0-0.298-0.135-0.298-0.296
          		c0-0.161,0.134-0.296,0.298-0.296c0.162,0,0.295,0.134,0.296,0.296c0,0.162-0.134,0.295-0.296,0.296V16.908z'/>
          	<polygon fill='#FF5A00' points='25.148,21.743 24.685,21.552 21.898,28.326 25.479,28.326 27.09,25.153 25.148,20.428
          		24.685,21.552 25.148,21.743 24.685,21.933 25.991,25.109 24.866,27.326 23.391,27.326 25.61,21.933 25.148,21.743 24.685,21.933
          		'/>
          	<polygon fill='#FF5A00' points='34.28,25.263 33.834,25.489 35.273,28.326 38.64,28.326 35.395,21.985 33.719,25.262
          		33.834,25.489 34.28,25.263 34.725,25.491 35.395,24.181 37.005,27.326 35.887,27.326 34.726,25.037 34.28,25.263 34.725,25.491
          		'/>
          	<path fill='#FF5A00' d='M38.742,1.184l-0.453-0.212C36.644,4.473,33.52,6.583,30,6.59l0.001,0
          		c-3.521-0.007-6.645-2.117-8.291-5.619l-0.246-0.525l-0.483,0.32C14.768,4.884,11.523,7.182,9.22,9.725
          		c-2.304,2.548-3.59,5.272-5.903,10.142c-0.863,1.818-1.834,3.862-3.052,6.32l-0.21,0.423l10.224,5.805l4.219-11.095l0.032-0.022
          		l0.005,0l0.003,0.001l-0.003,0l0.029,0.032c0.216,3.576,0.321,7.433,0.321,11.407c0,10.088-0.677,20.937-1.924,29.891l-0.067,0.479
          		l0.477,0.082c5.226,0.904,10.636,1.362,16.08,1.363c0.182,0,0.364-0.001,0.547-0.002l-0.003-0.5l-0.003,0.5
          		c0.187,0.001,0.368,0.001,0.549,0.001c5.448,0,10.856-0.458,16.083-1.362l0.477-0.082l-0.067-0.479
          		c-1.247-8.955-1.924-19.805-1.924-29.893c0-3.974,0.105-7.83,0.321-11.406l0.03-0.032l0.01-0.002l-0.01,0.002l0.005,0l0.033,0.023
          		l0,0l4.219,11.095l10.224-5.804l-0.21-0.424c-1.218-2.458-2.189-4.502-3.052-6.32c-2.313-4.869-3.599-7.593-5.903-10.142
          		c-2.303-2.543-5.548-4.841-11.762-8.958l-0.483-0.32l-0.246,0.525L38.742,1.184l-0.276,0.417c6.21,4.111,9.395,6.385,11.572,8.795
          		c2.177,2.405,3.423,5.015,5.741,9.9c0.863,1.818,1.837,3.869,3.059,6.336l0.448-0.222l-0.247-0.435l-8.799,4.995l-3.805-10.005l0,0
          		c-0.156-0.406-0.543-0.667-0.967-0.667l-0.156,0.012l0,0c-0.482,0.074-0.847,0.474-0.877,0.96
          		c-0.218,3.599-0.323,7.474-0.323,11.466c0,10.133,0.679,21.016,1.934,30.031l0.495-0.069l-0.085-0.493
          		c-5.169,0.894-10.52,1.348-15.913,1.348c-0.18,0-0.359,0-0.544-0.001l-0.003,0l-0.003,0c-0.18,0.001-0.361,0.002-0.541,0.002
          		c-5.388,0-10.742-0.454-15.91-1.348l-0.085,0.493l0.495,0.069c1.255-9.014,1.934-19.896,1.934-30.029
          		c0-3.992-0.105-7.868-0.323-11.468c-0.03-0.487-0.395-0.887-0.877-0.96l0,0l-0.156-0.012c-0.424,0-0.812,0.26-0.967,0.667
          		L9.759,30.969L0.96,25.974l-0.247,0.435l0.448,0.222c1.223-2.467,2.196-4.517,3.059-6.336c2.318-4.885,3.564-7.495,5.741-9.9
          		c2.178-2.41,5.362-4.684,11.572-8.795l-0.276-0.417l-0.453,0.212C22.583,5.202,26.065,7.588,30,7.59l0.001,0l0.001,0
          		c3.934-0.003,7.416-2.388,9.194-6.194L38.742,1.184l-0.276,0.417L38.742,1.184z M22.636,14.246v0.5
          		c0.752,0.001,1.364,0.614,1.366,1.366c-0.001,0.752-0.614,1.364-1.366,1.366c-0.753-0.001-1.367-0.614-1.368-1.366
          		c0.001-0.751,0.615-1.364,1.368-1.366V14.246v-0.5c-1.307,0.001-2.367,1.059-2.368,2.366c0.001,1.306,1.061,2.365,2.368,2.366
          		c1.306-0.001,2.365-1.06,2.366-2.366c-0.001-1.306-1.06-2.365-2.366-2.366V14.246z M38.7,28.896v-0.5h-0.003h-3.443h-0.002h-9.752
          		h-3.655l-0.029-0.015l-0.006-0.02l0.003-0.013l3.302-8.025l0.032-0.022l0.032,0.021l0,0l1.952,4.75l3.214-6.324l0.031-0.019
          		l0.031,0.019l0.002,0.005l3.268,6.434l1.685-3.295l0,0l0.031-0.019h0l0.031,0.019l3.291,6.43l0.013,0.02l0.005,0.019l0,0
          		L38.7,28.396V28.896v0.5c0.571,0,1.034-0.463,1.035-1.035l0,0c0-0.204-0.06-0.398-0.163-0.558l-0.421,0.269l0.445-0.228
          		l-3.28-6.408c-0.177-0.346-0.533-0.563-0.921-0.563h0c-0.389,0-0.744,0.218-0.921,0.564l0,0l-0.791,1.548L31.3,18.295l0,0
          		c-0.177-0.348-0.533-0.566-0.923-0.566c-0.39,0-0.746,0.219-0.923,0.566l-2.226,4.381l-1.123-2.733l0,0
          		c-0.159-0.388-0.538-0.642-0.957-0.642c-0.419,0-0.797,0.253-0.957,0.641l-3.302,8.025l0,0c-0.052,0.127-0.078,0.261-0.078,0.394
          		c0,0.202,0.059,0.403,0.175,0.576c0.192,0.287,0.514,0.459,0.86,0.459h3.655h9.752h0.002h3.443H38.7V28.896z'/></svg>") ;
      }
      & .support {
        height: 65px;
        width: 59px;
        background: no-repeat 50%/100% 100%;
          background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' width='61' height='61' viewBox='0 0 61 61'>			<path fill='#FF5A00' d='M16.599,44.377c3.984,0,7.225-3.241,7.225-7.225s-3.241-7.225-7.225-7.225s-7.225,3.241-7.225,7.225
          		S12.614,44.377,16.599,44.377z M16.599,31.367c3.19,0,5.784,2.595,5.784,5.784s-2.595,5.784-5.784,5.784s-5.784-2.595-5.784-5.784
          		S13.409,31.367,16.599,31.367z'/>
          	<path fill='#FF5A00' d='M9.114,64.549l0.073,0.004H24.01l0.073-0.004c2.707-0.277,4.748-2.541,4.748-5.267v-0.424
          		c0-6.745-5.487-12.232-12.232-12.232S4.367,52.113,4.367,58.858v0.424C4.366,62.008,6.407,64.272,9.114,64.549z M5.807,58.858
          		c0-5.95,4.841-10.791,10.791-10.791s10.791,4.841,10.791,10.791v0.424c0,1.972-1.467,3.612-3.418,3.83H9.225
          		c-1.952-0.218-3.418-1.858-3.418-3.83L5.807,58.858z'/>
          	<path fill='#FF5A00' d='M38.431,11.44c0-1.62,1.317-2.938,2.936-2.938c1.619,0,2.937,1.318,2.937,2.938
          		c0,1.302-0.875,2.06-1.802,2.862c-1.004,0.871-2.039,1.769-2.297,3.487c-0.054,0.327-0.083,0.681-0.09,1.109h1.547
          		c0.001-0.3,0.013-0.591,0.075-0.897c0.238-1.238,1.118-2.011,1.968-2.758c1.104-0.97,2.147-1.887,2.147-3.803
          		c0-2.473-2.012-4.485-4.486-4.485c-2.473,0-4.485,2.012-4.485,4.485v0.036h1.548V11.44H38.431z'/>
          	<rect x='40.113' y='20.915' fill='#FF5A00' width='1.547' height='1.548'/>
          	<path fill='#FF5A00' d='M26.915,29.883l0.195-0.027l8.115-2.27c1.965,0.939,4.062,1.401,6.145,1.401
          		c3.698,0,7.344-1.441,10.09-4.188c5.564-5.563,5.564-14.617,0-20.181s-14.616-5.563-20.181,0
          		c-4.29,4.289-5.387,10.772-2.786,16.221l-2.271,8.129c-0.071,0.251,0,0.519,0.184,0.703C26.542,29.81,26.726,29.883,26.915,29.883z
          		 M29.95,20.976l0.007-0.102l0.012-0.162l-0.041-0.149l-0.029-0.104c-2.485-4.947-1.521-10.903,2.397-14.822
          		c5.003-5.002,13.141-5.001,18.143,0c5.002,5.002,5.002,13.141,0,18.143c-3.92,3.92-9.879,4.883-14.83,2.397l-0.117-0.032
          		l-0.137-0.037l-0.169,0.012l-0.096,0.007l-7.139,1.997L29.95,20.976z'/></svg>") ;
      }
      & .shipping {
        height: 65px;
        width: 59px;
        background: no-repeat 50%/100% 100%;
          background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' width='61' height='61' viewBox='0 0 61 61'>				<rect x='8.279' y='24.014' fill='#FF5A00' width='13.231' height='1.628'/>
          	<rect x='5.359' y='27.301' fill='#FF5A00' width='14.122' height='1.628'/>
          	<rect x='12.42' y='30.588' fill='#FF5A00' width='11.727' height='1.628'/>
          	<rect x='0.354' y='33.875' fill='#FF5A00' width='26.913' height='1.628'/>
          	<polygon fill='#FF5A00' points='30.309,26.792 30.309,30.593 30.309,31.407 30.309,32.22 34.185,32.22 34.185,30.593
          		31.937,30.593 31.937,26.792 	'/>
          	<path fill='#FF5A00' d='M24.85,36.796c1.52,1.766,3.765,2.89,6.273,2.89c4.565,0,8.28-3.714,8.28-8.28s-3.714-8.28-8.28-8.28v1.628
          		c3.668,0,6.652,2.984,6.652,6.652s-2.984,6.653-6.652,6.653c-1.451,0-2.79-0.472-3.884-1.263H24.85z'/>
          	<path fill='#FF5A00' d='M59.823,29.052l-9.216-10.724H15.824v2.224h1.628v-0.596H49.86l8.335,9.699v11.564h-1.618
          		c-0.388-1.611-1.835-2.81-3.565-2.81c-1.731,0-3.177,1.199-3.564,2.81H26.143c-0.387-1.611-1.834-2.81-3.565-2.81
          		c-1.73,0-3.177,1.199-3.564,2.81h-1.562v-2.628h1.404v-1.628H7.53v1.628h8.295v4.256h3.167c0.354,1.658,1.825,2.901,3.587,2.901
          		c1.764,0,3.235-1.244,3.588-2.901h23.258c0.354,1.658,1.825,2.901,3.587,2.901c1.762,0,3.233-1.244,3.588-2.901h3.223
          		L59.823,29.052L59.823,29.052z M22.579,44.381c-1.271,0-2.303-1.03-2.303-2.303c0-1.272,1.03-2.303,2.303-2.303
          		s2.303,1.03,2.303,2.303C24.882,43.351,23.851,44.381,22.579,44.381z M53.013,44.381c-1.271,0-2.303-1.03-2.303-2.303
          		c0-1.272,1.03-2.303,2.303-2.303c1.272,0,2.303,1.03,2.303,2.303C55.316,43.351,54.285,44.381,53.013,44.381z'/>
          	<polygon fill='#FF5A00' points='45.634,21.419 45.634,28.288 45.634,29.866 47.212,29.866 54.082,29.866 54.082,28.288
          		47.212,28.288 47.212,21.419 	'/></svg>") ;
      }
      & .store {
        height: 65px;
        width: 59px;
        background: no-repeat 50%/100% 100%;
          background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' width='61' height='61' viewBox='0 0 61 61'>
          <path fill='#FF5A00' d='M43.771,29.344l-0.043-0.121l-0.013-0.037l-6.147-10.197c-0.109-0.183-0.307-0.294-0.519-0.294H7.018
            c-0.212,0-0.41,0.111-0.519,0.294L0.353,29.187L0.34,29.224l-0.043,0.121l-0.023,0.112L0.265,29.5v2.381
            c0,1.866,1.074,3.471,2.625,4.278v25.469c0,0.335,0.271,0.607,0.607,0.607h5.838h9.08H40.57c0.335,0,0.607-0.271,0.607-0.607
            V36.159c1.552-0.807,2.625-2.412,2.625-4.278V29.5l-0.009-0.043L43.771,29.344z M42.122,28.893h-6.966l-3.249-8.983h4.8
            L42.122,28.893z M18.346,19.911l-1.083,8.983H10.2l3.249-8.983H18.346z M30.617,19.911l3.249,8.983h-7.063l-1.083-8.983H30.617z
             M25.581,28.893h-7.097l1.083-8.983h4.931L25.581,28.893z M9.942,30.107h7.251v1.774c0,1.999-1.626,3.626-3.626,3.626
            s-3.626-1.626-3.626-3.626V30.107z M18.407,30.107h7.251v1.774c0,1.999-1.626,3.626-3.626,3.626s-3.626-1.626-3.626-3.626V30.107z
             M26.872,30.107h7.251v1.774c0,1.999-1.626,3.626-3.626,3.626s-3.626-1.626-3.626-3.626V30.107z M7.361,19.911h4.799L8.91,28.893
            H1.945L7.361,19.911z M1.479,31.881v-1.774h7.25v1.774c0,1.999-1.626,3.626-3.624,3.626C3.105,35.507,1.479,33.881,1.479,31.881z
             M9.942,61.021V49.413h7.866v11.608H9.942z M39.963,61.021H19.022V48.806c0-0.335-0.271-0.607-0.607-0.607h-9.08
            c-0.335,0-0.607,0.271-0.607,0.607v12.215H4.104V36.614c0.323,0.068,0.657,0.107,1,0.107c1.832,0,3.41-1.036,4.231-2.542
            c0.821,1.506,2.4,2.542,4.232,2.542c1.832,0,3.411-1.036,4.232-2.542c0.821,1.506,2.4,2.542,4.232,2.542
            c1.832,0,3.411-1.036,4.232-2.542c0.821,1.506,2.4,2.542,4.232,2.542s3.411-1.036,4.232-2.542c0.821,1.506,2.4,2.542,4.232,2.542
            c0.343,0,0.677-0.039,1-0.107V61.021z M42.588,31.881c0,1.999-1.626,3.626-3.626,3.626c-1.999,0-3.626-1.626-3.626-3.626v-1.774
            h7.251V31.881z'/>
            <path fill='#FF5A00' d='M50.733,2.765c-4.963,0-9.001,4.038-9.001,9.001c0,6.924,8.209,15.748,8.559,16.12
              c0.114,0.123,0.275,0.192,0.442,0.192s0.327-0.069,0.442-0.192c0.35-0.372,8.56-9.195,8.56-16.12
              C59.735,6.803,55.697,2.765,50.733,2.765z M50.733,26.564c-1.71-1.94-7.787-9.229-7.787-14.799c0-4.294,3.493-7.787,7.787-7.787
              s7.788,3.493,7.788,7.787C58.521,17.331,52.443,24.623,50.733,26.564z'/>
              <path fill='#FF5A00' d='M50.733,7.639c-2.276,0-4.127,1.851-4.127,4.127s1.851,4.127,4.127,4.127s4.127-1.851,4.127-4.127
                S53.009,7.639,50.733,7.639z M50.733,14.679c-1.606,0-2.913-1.307-2.913-2.913s1.307-2.913,2.913-2.913s2.913,1.307,2.913,2.913
                S52.339,14.679,50.733,14.679z'/>
          </svg>") ;
      }

      & h5 {
        text-transform: uppercase;
            margin: 1rem;
      }
      & .card-body {
        text-align: center!important;
      }
      & p {
        padding: 0 3rem;
      }
    }
  }
}

ul.facetwp-template {
  & .popular {
    background-color: $dark-color;
    & .popular_product {
      margin: 4rem 0 0 0;
      height: 65px;
      width: 59px;
      background: no-repeat 50%/100% 100%;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' width='61' height='61' viewBox='0 0 61 61'>		<path fill='#FF5A00' d='M50.775,26.351c-0.061-0.19-0.225-0.329-0.423-0.357l-13.745-1.938l-6.144-12.083
        		c-0.178-0.349-0.75-0.349-0.927,0l-6.144,12.083L9.647,25.994c-0.198,0.028-0.362,0.167-0.423,0.357
        		c-0.061,0.19-0.007,0.398,0.138,0.536l9.936,9.401l-2.345,13.27c-0.034,0.194,0.044,0.391,0.203,0.508s0.37,0.135,0.546,0.045
        		l8.821-4.501c0.256-0.131,0.357-0.444,0.227-0.7c-0.131-0.256-0.444-0.357-0.7-0.227l-7.891,4.026l2.212-12.518
        		c0.03-0.172-0.028-0.348-0.155-0.468l-9.356-8.851l12.944-1.825c0.168-0.024,0.314-0.128,0.391-0.279L30,13.356l5.803,11.413
        		c0.077,0.151,0.223,0.256,0.391,0.279l12.944,1.825l-9.356,8.851c-0.127,0.12-0.185,0.296-0.155,0.468l2.212,12.518L30.236,42.79
        		c-0.149-0.076-0.324-0.076-0.473,0l-1.726,0.881c-0.256,0.131-0.357,0.444-0.227,0.7c0.131,0.256,0.443,0.358,0.7,0.227l1.49-0.76
        		l12.297,6.275l0.236,0.057c0.109,0,0.218-0.035,0.309-0.102c0.159-0.117,0.237-0.314,0.203-0.508l-2.345-13.27l9.936-9.401
        		C50.783,26.75,50.836,26.542,50.775,26.351z'/>
        	<path fill='#FF5A00' d='M26.305,37.938c1.108,0.687,2.385,1.05,3.695,1.05c3.32,0,6.213-2.358,6.877-5.606
        		c0.058-0.282-0.124-0.556-0.405-0.614c-0.284-0.06-0.556,0.124-0.614,0.405c-0.566,2.767-3.03,4.774-5.859,4.774
        		c-1.116,0-2.204-0.309-3.147-0.894c-0.245-0.152-0.565-0.077-0.716,0.168C25.986,37.466,26.061,37.787,26.305,37.938z'/>
        	<path fill='#FF5A00' d='M30,25.989c2.829,0,5.292,2.008,5.859,4.774c0.057,0.281,0.33,0.464,0.614,0.405
        		c0.281-0.057,0.463-0.332,0.405-0.614c-0.664-3.248-3.557-5.606-6.877-5.606c-3.871,0-7.02,3.149-7.02,7.02
        		c0,1.361,0.39,2.681,1.128,3.818c0.1,0.154,0.266,0.237,0.437,0.237c0.097,0,0.195-0.027,0.283-0.084
        		c0.241-0.156,0.31-0.479,0.153-0.719c-0.628-0.968-0.961-2.092-0.961-3.252C24.02,28.671,26.703,25.989,30,25.989z'/>
        	<path fill='#FF5A00' d='M16.448,19.152c0.102,0.102,0.235,0.152,0.368,0.152s0.266-0.051,0.368-0.152
        		c0.203-0.203,0.203-0.532,0-0.735l-1.891-1.891c-0.203-0.203-0.532-0.203-0.735,0s-0.203,0.532,0,0.735L16.448,19.152z'/>
        	<path fill='#FF5A00' d='M18.967,21.671c0.102,0.102,0.235,0.152,0.368,0.152c0.133,0,0.266-0.051,0.368-0.152
        		c0.203-0.203,0.203-0.532,0-0.735l-1.338-1.338c-0.203-0.203-0.532-0.203-0.735,0s-0.203,0.532,0,0.735L18.967,21.671z'/>
        	<path fill='#FF5A00' d='M12.608,38.435l-2.568,1.039c-0.266,0.108-0.395,0.411-0.287,0.677c0.082,0.202,0.277,0.325,0.482,0.325
        		l0.195-0.038l2.568-1.039c0.266-0.108,0.395-0.411,0.287-0.677C13.177,38.456,12.875,38.327,12.608,38.435z'/>
        	<path fill='#FF5A00' d='M15.822,37.134l-1.268,0.513c-0.266,0.108-0.395,0.411-0.287,0.677c0.082,0.202,0.277,0.325,0.482,0.325
        		l0.195-0.038l1.268-0.513c0.266-0.108,0.395-0.411,0.287-0.677C16.392,37.155,16.089,37.025,15.822,37.134z'/>
        	<path fill='#FF5A00' d='M30,46.529c-0.287,0-0.52,0.233-0.52,0.52v1.213c0,0.287,0.233,0.52,0.52,0.52
        		c0.287,0,0.52-0.233,0.52-0.52v-1.213C30.52,46.761,30.287,46.529,30,46.529z'/>
        	<path fill='#FF5A00' d='M30,49.475c-0.287,0-0.52,0.233-0.52,0.52v2.773c0,0.287,0.233,0.52,0.52,0.52
        		c0.287,0,0.52-0.233,0.52-0.52v-2.773C30.52,49.708,30.287,49.475,30,49.475z'/>
        	<path fill='#FF5A00' d='M46.285,37.987l-2.107-0.853c-0.265-0.107-0.569,0.021-0.677,0.287c-0.108,0.266,0.021,0.569,0.287,0.677
        		l2.107,0.853l0.195,0.038c0.206,0,0.4-0.123,0.482-0.325C46.68,38.398,46.551,38.094,46.285,37.987z'/>
        	<path fill='#FF5A00' d='M49.96,39.474l-1.926-0.779c-0.267-0.108-0.57,0.021-0.677,0.287c-0.108,0.266,0.021,0.569,0.287,0.677
        		l1.926,0.779l0.195,0.038c0.206,0,0.4-0.123,0.482-0.325C50.355,39.885,50.226,39.582,49.96,39.474z'/>
        	<path fill='#FF5A00' d='M40.665,21.824c0.133,0,0.266-0.051,0.368-0.152l1.831-1.831c0.203-0.203,0.203-0.532,0-0.735
        		s-0.532-0.203-0.735,0l-1.831,1.831c-0.203,0.203-0.203,0.532,0,0.735C40.399,21.773,40.532,21.824,40.665,21.824z'/>
        	<path fill='#FF5A00' d='M43.983,18.506c0.133,0,0.266-0.051,0.368-0.152l1.092-1.092c0.203-0.203,0.203-0.532,0-0.735
        		s-0.532-0.203-0.735,0l-1.092,1.092c-0.203,0.203-0.203,0.532,0,0.735C43.717,18.455,43.85,18.506,43.983,18.506z'/>
</svg>") ;

    }
    & h5 {
      color: $white;
      text-transform: uppercase;
      padding: 2rem 2rem 0 2rem;
    }
    & p {
      padding: 1rem 2rem 0 2rem;
      font-size: .8rem;
      color: $light-color-text-dark;
    }
  }
}
