.card h4 {
  font-family: 'ProximaNova-Regular';
  line-height: 1.6;
}

bdi {
  font-family: 'ProximaNova-Bold';
  color: $black;
}

.woocommerce-Price-currencySymbol {
  padding: 0 0 0 .25rem;
}


.filters h3 {
  font-family: 'ProximaNova-Regular';
  }



header {
  & h2 {
    margin-bottom: 0;

    & a {
      color: $white;
      &:hover {
        text-decoration: none;
      }
    }
    & .label-cat {
      font-family: 'ProximaNova-Regular';
      text-transform: uppercase;
      font-size: .9rem;
      letter-spacing: .1rem;
    }
    & .label-tag {
      font-family: 'ProximaNova-Extrabld';
      font-size: 1.7368rem;
      letter-spacing: .1rem;
    }
  }
}
