section.subscribe {
  background-color: #f5f6f8;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23eff0f2' fill-opacity='1'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
margin-top: -5rem;
& .col-12:first-of-type {
    padding: 11rem 0 5rem 0;
    text-align: center;
}
}

footer {
  background-color: $dark-color;
  padding: 5.4375rem 0 0 0;
  & img, svg {
    vertical-align: top;
  }
  & a.nav-link {
    color: $light-color-text-dark;
    font-size: .8rem;
  }
  & .flex-row div {
    padding: 3rem 0;
  }
  & ul {
    list-style: none;
  }
  & ul li {
    padding: 0 0 .5rem 0;
  }
  & ul li a {
    color: $white;
  }
  & h3 {
    font-family: 'ProximaNova-Bold';
    font-size: 1.2rem;
    color: $white;
    padding: 0rem 0 0 1rem;
    margin-bottom: 1.2rem;
  }
  & h5 {
    font-family: 'ProximaNova-Bold';
    font-size: 1rem;
    color: $white;
  }
  & .navbar-brand {
    width: 150px;
  }

}

i {
  &.pro-facebook {
    width: 7.04px;
    height: 14.079px;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' width='7.04' height='14.079' viewBox='0 0 7.04 14.079'><path fill='#FFF' d='M5.755 2.338H7.04V.099C6.818.069 6.056 0 5.168 0 3.314 0 2.045 1.166 2.045 3.308V5.28H0v2.503h2.045v6.297h2.507V7.783h1.962l.312-2.503H4.552V3.556c0-.723.195-1.218 1.203-1.218z'/></svg>") ;
    background-repeat: no-repeat;
  }
  &.pro-twitter {
    width: 17.33px;
    height: 14.079px;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' width='17.33' height='14.8' viewBox='0 0 17.33 14.8'><path fill='#FFF' d='M15.549 3.872a7.08 7.08 0 0 0 1.78-1.844v-.001a7.436 7.436 0 0 1-2.047.561A3.536 3.536 0 0 0 16.845.625a7.128 7.128 0 0 1-2.253.86 3.55 3.55 0 0 0-6.145 2.429c0 .282.024.552.082.81a10.06 10.06 0 0 1-7.323-3.716 3.555 3.555 0 0 0 1.093 4.747 3.52 3.52 0 0 1-1.605-.437v.039A3.57 3.57 0 0 0 3.54 8.848a3.55 3.55 0 0 1-.931.117c-.227 0-.457-.013-.672-.061a3.588 3.588 0 0 0 3.319 2.475 7.143 7.143 0 0 1-4.405 1.515 6.8 6.8 0 0 1-.85-.048 10.007 10.007 0 0 0 5.45 1.594c6.269-.001 10.355-5.231 10.098-10.568z'/></svg>") ;
    background-repeat: no-repeat;
  }
  &.pro-linkedin {
    width: 14.19px;
    height: 14.019px;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' width='14.19' height='14.19' viewBox='0 0 14.19 14.19'><path fill='#FFF' d='M7.095 0a7.096 7.096 0 1 0 .001 14.191A7.096 7.096 0 0 0 7.095 0zM5.033 10.726H3.305V5.527h1.728v5.199zm-.864-5.909h-.011c-.58 0-.955-.399-.955-.898 0-.51.386-.898.978-.898s.955.388.966.898c0 .499-.375.898-.978.898zm7.095 5.909H9.536V7.945c0-.699-.25-1.176-.875-1.176-.477 0-.762.322-.887.632a1.198 1.198 0 0 0-.057.422v2.903H5.99s.023-4.711 0-5.199h1.728v.736c.23-.354.64-.858 1.557-.858 1.137 0 1.989.743 1.989 2.34v2.981z'/></svg>") ;
    background-repeat: no-repeat;
  }
}

#gform_wrapper_1 {
  @include make-row($gutter-0);
  @extend .justify-content-center;
}


/** Gravity Forms */
.gform_wrapper form {
  margin-bottom: 0;
}

.gform_wrapper ul {
  @extend .list-unstyled;
}

.gform_wrapper li {
  @extend .form-group;
}

.gform_wrapper .gfield_required {
  padding-left: 1px;
  color: $danger;
}

.gform_wrapper input[type="email"],
.gform_wrapper input[type="date"],
.gform_wrapper input[type="datetime"],
.gform_wrapper input[type="datetime-local"],
.gform_wrapper input[type="month"],
.gform_wrapper input[type="number"],
.gform_wrapper input[type="password"],
.gform_wrapper input[type="search"],
.gform_wrapper input[type="tel"],
.gform_wrapper input[type="text"],
.gform_wrapper input[type="time"],
.gform_wrapper input[type="week"],
.gform_wrapper input[type="url"],
.gform_wrapper select,
.gform_wrapper textarea {
  @extend .form-control;
}

.gform_wrapper .button {
  @extend .btn;
  @extend .btn-primary;
}

.gform_wrapper .gfield_error {
  .gfield_label {
    @extend .alert-danger;
  }

  input,
  select,
  textarea {
    @extend .alert-danger;
  }
}

.validation_error {
  @extend .alert;
  @extend .alert-danger;
}

.validation_message {
  display: none;
}

#gform_wrapper_1 {
  & .gform_footer {
//    display: none;
  }
}


li#field_1_1.subscribe input {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$orange}' width='24.3' height='16.6' viewBox='0 0 24.3 16.6'><path d='M2.062.444v.443h20.177a1.176 1.176 0 0 1 1.175 1.175v12.476a1.176 1.176 0 0 1-1.175 1.175H2.062a1.176 1.176 0 0 1-1.175-1.175V2.062A1.176 1.176 0 0 1 2.062.887V.001A2.062 2.062 0 0 0 0 2.062v12.476a2.06 2.06 0 0 0 2.061 2.061h20.177a2.06 2.06 0 0 0 2.061-2.061V2.062A2.06 2.06 0 0 0 22.238.001H2.062v.443z'/><path d='M22.407 1.233L13.35 10.29a1.695 1.695 0 0 1-2.399 0L1.859 1.199l-.626.626 9.091 9.091a2.58 2.58 0 0 0 3.653-.001l9.057-9.057-.627-.625z'/><path d='M15.764 8.613l6.643 6.644.627-.626-6.644-6.644M1.859 15.223l6.61-6.61-.627-.626-6.609 6.61'/></svg>") ;
background-size: 16.6px 24.3px;
display: block;
border-radius: 4rem;
background-position: 95% 50%;
background-repeat: no-repeat;
width: 30rem;
height: 3rem;
box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
border: 0;
}
