@media all and (min-width: 992px) {
//  .navbar{ padding-top: 0; padding-bottom: 0; }
  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; padding:20px;  }
//  .navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
}

div.logo {
  @extend .mx-auto;
  @extend .order-0;
  @extend .w-100;
  @extend .text-center;
  & .navbar-brand {
    @extend .mx-auto;
    & img {
      min-width: 165px;
    }
  }

    & input {
      @extend .w-100;
    }

}

i.cart {
  height: 16.046px;
  width: 18.92px;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' width='18.92' height='16.046' viewBox='0 0 18.92 16.046'><path d='M17.755 2.932l-.81 2.096a2291.546 2291.546 0 0 0-1.586 4.108l.571-.435H7.847c-.373 0-.747-.01-1.12 0h-.015l.571.435-.284-.867c-.229-.693-.456-1.387-.686-2.08l-.826-2.508a920.36 920.36 0 0 1-.715-2.176C4.655 1.154 4.546.8 4.424.45L4.418.435A.61.61 0 0 0 3.847 0H.593C.283 0-.013.273 0 .593c.014.322.261.593.593.593h3.254L3.276.751l.284.867c.229.693.456 1.387.686 2.08l.826 2.507c.239.725.478 1.45.715 2.175.117.352.225.705.348 1.055l.006.016a.61.61 0 0 0 .571.435h8.083c.373 0 .747.012 1.12 0h.016c.283 0 .476-.188.571-.435l.81-2.096a2291.546 2291.546 0 0 0 1.586-4.108c.051-.134.01-.336-.059-.456a.606.606 0 0 0-.354-.273.6.6 0 0 0-.456.059.684.684 0 0 0-.274.355z'/><path d='M6.2 8.993l-.962 1.711-.138.247c-.219.389.057.891.512.891h9.048c.417 0 .836.008 1.255 0h.018c.31 0 .607-.273.593-.593-.014-.322-.261-.593-.593-.593H6.885c-.417 0-.838-.012-1.255 0h-.019l.512.891.962-1.711.138-.246c.153-.271.073-.66-.213-.81-.281-.146-.648-.075-.81.213zm5.955 5.113c.004.383.115.78.34 1.095.249.346.567.587.966.737.711.267 1.606.03 2.09-.555.283-.342.441-.723.476-1.166a1.897 1.897 0 0 0-.271-1.108 1.92 1.92 0 0 0-.816-.745 2.026 2.026 0 0 0-1.262-.152c-.885.173-1.514 1.011-1.523 1.894-.004.31.275.607.593.593a.604.604 0 0 0 .593-.593l.014-.192-.022.158c.018-.115.047-.225.093-.332l-.059.142.117-.217.038-.053-.045.059.087-.095.085-.079c.038-.034.095-.049-.049.038l.041-.03.229-.124-.142.059c.107-.043.217-.075.332-.093l-.158.022c.128-.018.255-.018.383 0l-.158-.022c.115.018.225.047.332.093l-.142-.059.217.117.053.038-.059-.045.095.087.079.085c.034.038.049.095-.038-.049l.03.041.124.229-.059-.142c.043.107.075.217.093.332l-.022-.158c.018.128.018.255 0 .383l.022-.158a1.366 1.366 0 0 1-.093.332l.059-.142-.117.217-.039.052.045-.059-.087.095-.085.079c-.038.034-.095.049.049-.038l-.041.03-.229.124.142-.059a1.515 1.515 0 0 1-.332.093l.158-.022a1.365 1.365 0 0 1-.383 0l.158.022a1.366 1.366 0 0 1-.332-.093l.142.059-.217-.117-.053-.038.059.045-.095-.087-.079-.085c-.034-.038-.049-.095.038.049l-.03-.041-.124-.229.059.142a1.515 1.515 0 0 1-.093-.332l.022.158-.014-.192c-.004-.31-.271-.607-.593-.593-.318.016-.596.261-.592.595zm-6.81 0c.004.383.115.78.34 1.095.249.346.567.587.966.737.711.267 1.606.03 2.09-.555.283-.342.441-.723.476-1.166a1.897 1.897 0 0 0-.271-1.108 1.92 1.92 0 0 0-.816-.745 2.026 2.026 0 0 0-1.262-.152c-.887.173-1.516 1.011-1.523 1.894-.004.31.275.607.593.593a.604.604 0 0 0 .593-.593l.014-.192-.022.158c.018-.115.047-.225.093-.332l-.059.142.117-.217.038-.053-.045.059.087-.095.085-.079c.038-.034.095-.049-.049.038l.041-.03.229-.124-.145.059c.107-.043.217-.075.332-.093l-.158.022c.128-.018.255-.018.383 0l-.158-.022c.115.018.225.047.332.093l-.142-.059.217.117.053.038-.059-.046.095.087.079.085c.034.038.049.095-.038-.049l.03.041.124.229-.059-.142c.043.107.075.217.093.332l-.022-.158c.018.128.018.255 0 .383l.022-.158a1.366 1.366 0 0 1-.093.332l.059-.142-.117.217-.036.053.045-.059-.087.095-.085.079c-.038.034-.095.049.049-.038l-.041.03-.229.124.142-.059a1.515 1.515 0 0 1-.332.093l.158-.022a1.365 1.365 0 0 1-.383 0l.158.022a1.366 1.366 0 0 1-.332-.093l.142.059-.217-.116-.053-.038.059.045-.095-.087-.079-.085c-.033-.037-.049-.094.038.05l-.03-.041-.124-.229.059.142a1.515 1.515 0 0 1-.093-.332l.022.158-.014-.192c-.004-.31-.271-.607-.593-.593-.32.014-.596.259-.592.593zm6.474-8.167V.595c0-.31-.273-.607-.593-.593-.322.014-.593.261-.593.593V5.94c0 .31.273.607.593.593.322-.017.593-.262.593-.594z'/><path d='M13.897 2.673H8.553c-.31 0-.607.273-.593.593.014.322.261.593.593.593h5.344c.31 0 .607-.273.593-.593-.014-.32-.261-.593-.593-.593z'/></svg>") ;
}

.bg-dark-color {
  background-color: $dark-color;
  border-bottom: 1px solid $border-dark-color;
}

.h-103 {
    height: 103%!important;
}

header {
  & .breadcrumb-item {
    color: $white;
    & a {
      color: $white;
    }
  }
  & .dropdown-item {
    &.child {
    padding-left: 2.5rem;
    }
  }
  & .logo {
    min-width: 165px;
  }
  & ul.mr-auto {
    & .nav-item {
      border-right: 1.5px solid $border-dark-color;
      padding: .88rem 1.742rem;

      & .ico {
          background-size: cover;
          top: 38%;
        //  transform: translateY(-50%);
          transform: translateX(-50%);
          display: inline-block;
          position: absolute;

          &.search {
            height: 18px;
            width: 18px;
            background-image: url(../images/ico-search.svg);
          }
          &.shop {
            height: 18px;
            width: 18px;
            background-image: url(../images/icon_shop.svg);
          }
          &.hum {
            height: 20px;
            width: 20px;
            background-image: url(../images/ico-hum.svg);
          }
      }
      & .btn.categories {
        text-align: left;
        padding-right: 3rem;
        font-size: .8rem;
      }
      & span.category {
        position: relative;
        left: 2.5rem;
        color: $white;
        &:nth-of-type(2) {
          font-family: 'ProximaNova-Bold';
          font-size: .9rem;
        }
      }
    }

  }

  & ul.ml-auto {
    & .nav-item {
      border-right: 1.5px solid $border-dark-color;
      padding: .88rem 1.742rem;
      & bdi {
        color: $white;
        font-family: 'ProximaNova-Bold';
        font-size: 1rem;
      }
      & .ico {
          background-size: cover;
          top: 38%;
        //  transform: translateY(-50%);
          transform: translateX(-50%);
          display: inline-block;
          position: absolute;

          &.search {
            height: 18px;
            width: 18px;
            background-image: url(../images/ico-search.svg);
          }
          &.shop {
            height: 20px;
            width: 20px;
            background-image: url(../images/icon_shop.svg);
          }
          &.hum {
            height: 20px;
            width: 20px;
            background-image: url(../images/ico-hum.svg);
          }
          &.cart {
            height: 20px;
            width: 23px;
            background-image: url(../images/icon_add_big.svg);
          }
          &.profile {
            height: 20px;
            width: 23px;
            background-image: url(../images/icon_profile.svg);
          }
      }
      & .btn.categories {
        text-align: right;
        //padding-right: 3rem;
        font-size: .8rem;
      }
      & span.category {
        position: relative;
        right: 1.5rem;
        color: $white;
        &:nth-of-type(2) {
          font-family: 'ProximaNova-Bold';
          font-size: .9rem;
        }
      }
    }

  }


}

.home main {
  & .row {

    &:nth-of-type(1) {
      & .catalog {
        margin-top: -10rem;
        background: $white;
        z-index: 1000;
        box-shadow:
          0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048),
          0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086),
          0 100px 80px rgba(0, 0, 0, 0.12)
          ;
      }
    }
  }
}


.archive main {
  margin-top: 0;
  & .row {

    &:nth-of-type(1) {
      & .catalog {
        padding: 0;
        margin-top: -5rem;
        background: $white;
        z-index: 1000;
        box-shadow:
          0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048),
          0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086),
          0 100px 80px rgba(0, 0, 0, 0.12)
          ;
      }
    }
  }
}

.page {
& main {
  margin-top: 0;
  & .row {

    &:nth-of-type(1) {
      & .catalog {
        padding: 0;
        margin-top: -5rem;
        background: $white;
        z-index: 1000;
        box-shadow:
          0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048),
          0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086),
          0 100px 80px rgba(0, 0, 0, 0.12);
      }
    }
  }
}
}
.single-product main {
  margin-top: 0;
  & .row {

    &:nth-of-type(1) {
      & .catalog {
        padding: 0;
        margin-top: -5rem;
        background: $white;
        z-index: 1000;
        box-shadow:
          0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048),
          0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086),
          0 100px 80px rgba(0, 0, 0, 0.12)
          ;
      }
    }
  }
}

header.banner.first {
  position: relative;
  background-color: $dark-color;
  height: 79vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
    & video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

}



header.banner .container {
  position: relative;
  z-index: 2;
}

header.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $dark-color;
  opacity: 0.95;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header.banner {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') $dark-color no-repeat center center scroll;
  }
  header.banner video {
    display: none;
  }
}

.products-header {
  margin-top: 5rem;
  text-align: center;
  padding: 4rem 0 4rem;
  & h1 {
    color: $white;
    font-family: 'PF Encore Sans Bold';
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  &.grey {
    background-color: $dark-color;
  }
}

.breadcrumb-item.facetwp-selection-value {
  display: flex;

  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + .breadcrumb-item {
    padding-left: $breadcrumb-item-padding;

    &::before {
      display: inline-block; // Suppress underlining of the separator in modern browsers
      padding-right: $breadcrumb-item-padding;
      color: $breadcrumb-divider-color;
      content: escape-svg($breadcrumb-divider-plus);
    }
  }
}
