.border-d {
  border-bottom: 1px solid $border-light-color;
}
.border-l {
  border-left: 1px solid $border-light-color;
}
.border-r {
  border-right: 1px solid $border-light-color;
}

aside {
  &.sidebar {
      border-right: 1px solid $border-light-color;
    & .card {
      border-right: 0;
    }
    & span.h2 {
      font-family: 'ProximaNova-Bold';
      font-size: 1.5rem;
      padding: 0 2rem;
      margin-bottom: 0;
    }
    & .heading {
      @extend .d-flex;
      @extend .flex-row;
      @extend .justify-content-between;
      @extend .align-items-center;
      @extend .border-d;
    }
  //@include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col($sidebar-sm-columns);
  }
  & .reset {
    //padding: 2rem;
  }
  & i.reset {
    height: 15px;
    width: 21px;
    background-size: cover;
    transform: translateX(-50%);
    display: inline-block;
    position: absolute;
    background: no-repeat 50%/100% 100%;
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' width='20.692px' height='14.959px' viewBox='0 0 20.692 14.959'>	<path fill='#FF5A00' d='M3.229,10.511L0.158,8.112c-0.187-0.137-0.209-0.39-0.062-0.562c0.137-0.187,0.39-0.209,0.562-0.062
      		l2.458,1.914C2.34,6.474,3.403,3.229,6.014,1.376c2.686-1.906,6.209-1.781,8.731,0.065c0.223,0.156,0.218,0.496-0.006,0.655
      		c-0.134,0.095-0.332,0.101-0.472-0.001C12.025,0.454,8.883,0.327,6.48,2.032c-2.373,1.684-3.322,4.647-2.539,7.3l1.948-2.504
      		c0.137-0.187,0.39-0.209,0.562-0.062c0.187,0.137,0.209,0.39,0.062,0.562l-2.398,3.071C3.91,10.679,3.52,10.731,3.229,10.511z'/>
      	<path fill='#FF5A00' d='M20.034,7.471l-2.458-1.914c0.776,2.928-0.287,6.173-2.898,8.026c-2.686,1.906-6.209,1.781-8.731-0.065
      		c-0.223-0.156-0.218-0.496,0.006-0.655c0.134-0.095,0.332-0.101,0.472,0.001c2.242,1.641,5.383,1.767,7.786,0.062
      		c2.373-1.684,3.322-4.647,2.539-7.3l-1.948,2.504c-0.137,0.187-0.39,0.209-0.562,0.062c-0.187-0.137-0.209-0.39-0.062-0.562
      		l2.398-3.071c0.205-0.28,0.62-0.328,0.885-0.112l3.071,2.398c0.187,0.137,0.209,0.39,0.062,0.562
      		C20.474,7.585,20.206,7.618,20.034,7.471z'/>
</svg>") ;

  }
  }
}

.mainbar {
  @include make-col(9);
  padding: 0 15px;
  & .heading {
    @extend .d-flex;
    @extend .flex-row;
    @extend .justify-content-between;
    @extend .align-items-center;
    & .col-4 {
    //  padding: 1.25rem;
      font-size: .8rem;
      font-family: 'ProximaNova-Bold';
      text-transform: uppercase;
      & .form-group {
          margin-bottom: 0;
          & i.sort_label {
            font-style: normal;
            margin: .0 0 0 .5rem;
            position: relative;
            top: 1px;
            letter-spacing: .05rem;
          }
          & .form-control {
            font-size: .7rem;
            font-family: 'ProximaNova-Regular';
            & .btn {
              font-size: .9rem;
            }
          }
      }
    }
  }
}
